
/* header Related styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav related Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 0 150px;
}

.nav-title{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}

/* primary item styles */

.primary-background{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.dark-2{
    color: #474747;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.text-center{
    text-align: center;
}


/* banner Styles */
.banner{
    padding: 40px 30px 40px 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
    align-items: center;
}
.banner-content{
    max-width: 580px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.profile-pic{
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;

}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* SKIlls Styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
}
/* resume section Styles */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color:#757575
}
.experience-sub-title{
    font-size: 20px;
    color:#757575;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px, 5px;
}
.resume-download-cv{
    margin-top: 50px;
}